<template>
    <div class="panel" id="example-{{ example.id }}">
        <div class="panel-heading">
                <h1>
                    <a :href="editUrl">{{ example.title }}</a>
                    <span class="label label-primary pull-right">{{ example.upvotes | signed}}</span>
                </h1>
        </div>
        <div id="exampleMarkdown" class="panel-body">{{{ example.markdown | marked }}}</div>
        <div class="panel-footer">
            <p>Created by {{ example.username }} on {{ example.created_at }} last updated on {{ example.updated_at }}</p>
            <span v-for="tag in example.tags" class="label label-primary" style="margin-right: 1em;">{{ tag.tag }}</span>
        </div>
    </div>
</template>
<style>
    #markdownEditor {
        position: relative;
        width: auto;
        height: 400px;
    }
</style>
<script>
    var marked = require("marked");

    marked.setOptions({
        ghm: true
    });

    var pygmentize = require('pygmentize-bundled');

    export default{
        props: ['example'],
        filters: {
            marked: marked,
            signed: function(upvotes){
                if(upvotes > 0){
                    return "+ " + upvotes;
                }else{
                    return upvotes;
                }
            }
        },
        computed: {
            editUrl(){
                return "/example/public/edit/" + this.example.id;
            }
        },
        created(){
            //this.example = JSON.parse(this.example);
        },
        ready() {
        }
    }
</script>